concurrent: 30

server:
  address: "0.0.0.0:8080"  # 使用0.0.0.0允许外部访问

database:
  # 如果使用PostgreSQL
  driver: "postgres"
  dsn: "host=postgres user=passwall password=passwall port=5432 dbname=passwall sslmode=disable TimeZone=Asia/Shanghai"

proxy:
  enabled: false  # 是否启用代理
  url: "socks5://127.0.0.1:7890"  # 代理地址，支持http和socks5

ip_check:
  enable: true
  ip_info:
    enable: true
    scamalytics:
      host: "https://api11.scamalytics.com/v3/"
  app_unlock:
    enable: true

clash_api: # 支持Clash API，可获取节点消耗流量
  enabled: false
  url: "ws://127.0.0.1:9090"
  secret: ""

# 多个定时任务同时运行的只能有一个，单个定时任务内子任务串行执行
cron_jobs:
  - name: "每6小时更新所有订阅并测速"
    schedule: "0 0 */6 * * *"
    reload_subscribe_config: true
    test_proxy:
      enable: true
      # -1: 未测速，1: 正常，2: 失败，3: 未知错误。使用英文逗号分隔
      # status: 1,2
      concurrent: 30
    auto_ban:
      enable: true
      success_rate_threshold: 0
      download_speed_threshold: 0
      upload_speed_threshold: 0
      ping_threshold: 0
      test_times: 5

  - name: "每6小时更新所有订阅"
    schedule: "0 0 */6 * * *"
    reload_subscribe_config: true
    test_proxy:
      enable: false
      # status: 1,2
      concurrent: 30
    auto_ban:
      enable: false
      success_rate_threshold: 0
      download_speed_threshold: 0
      upload_speed_threshold: 0
      ping_threshold: 0
      test_times: 5