token: "your_token_here"   # 获取订阅链接时，token必填
concurrent: 30

server:
  address: "0.0.0.0:8080"  # 使用0.0.0.0允许外部访问

database:
  driver: "sqlite"
  dsn: "data/passwall.db"  # 将数据库文件存储在data目录下

proxy:
  enabled: false  # 是否启用代理
  url: "socks5://127.0.0.1:7890"  # 代理地址，支持http和socks5

cron_jobs:
  - name: "每6小时更新所有订阅"
    schedule: "0 0 */6 * * *"
    reload_subscribe_config: true
    test_all: false
    test_new: false
    test_failed: false
    test_speed: false
    concurrent: 1

  - name: "每6小时测试所有节点"
    schedule: "0 10 */6 * * *"
    reload_subscribe_config: false
    test_all: true
    test_new: false
    test_failed: false
    test_speed: false
    concurrent: 30